In [16]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
one = pd.read_csv("D:\WorkSpace\Code\Python\EnergyTrans\dataset\country\WDICountryOrRegion.csv")
one

In [ ]:
one.dtypes

In [ ]:
two = pd.read_csv("D:\WorkSpace\Code\Python\EnergyTrans\dataset\country\WDICountryOrRegion-Series.csv")
two

In [ ]:
two.dtypes

In [ ]:
three = pd.read_csv("D:\WorkSpace\Code\Python\EnergyTrans\dataset\country\WDIData.csv")
three

In [ ]:
three.dtypes

In [ ]:
three["Indicator Name"].value_counts() # Indicator Name 为后面数据的说明

In [ ]:
four = pd.read_csv("D:\WorkSpace\Code\Python\EnergyTrans\dataset\country\WDIFootNote.csv")
four

In [ ]:
five = pd.read_csv("D:\WorkSpace\Code\Python\EnergyTrans\dataset\country\WDISeries.csv") # 暂时还不知道这个文件是用来干嘛的
five

In [ ]:
five.dtypes

In [ ]:
six = pd.read_csv("D:\WorkSpace\Code\Python\EnergyTrans\dataset\country\WDISeries-Time.csv")
six

In [ ]:
six.dtypes

In [ ]:
emi = pd.read_csv("D:\WorkSpace\Code\Python\EnergyTrans\dataset\emission\Greenhouse_Gas.csv")
emi

In [ ]:
emi.dtypes

In [3]:
a = pd.read_csv(r"D:\WorkSpace\Code\Python\EnergyTrans\dataset\emission\bp-stats-review-2022-consolidated-dataset-narrow-format.csv")
a

,Country,Year,ISO3166_alpha3,ISO3166_numeric,Region,SubRegion,OPEC,EU,OECD,CIS,Var,Value
0,Brazil,2004,BRA,76.0,S. & Cent. America,South America,0.0,0.0,0.0,0.0,biodiesel_cons_kboed,0.000000
1,Brazil,2005,BRA,76.0,S. & Cent. America,South America,0.0,0.0,0.0,0.0,biodiesel_cons_kboed,0.014737
2,Brazil,2006,BRA,76.0,S. & Cent. America,South America,0.0,0.0,0.0,0.0,biodiesel_cons_kboed,1.016887
3,Brazil,2007,BRA,76.0,S. & Cent. America,South America,0.0,0.0,0.0,0.0,biodiesel_cons_kboed,5.953947
4,Brazil,2008,BRA,76.0,S. & Cent. America,South America,0.0,0.0,0.0,0.0,biodiesel_cons_kboed,16.534379
...,...,...,...,...,...,...,...,...,...,...,...,...
277090,Vietnam,2017,VNM,704.0,Asia Pacific,Asia Pacific,0.0,0.0,0.0,0.0,wind_twh_net,0.346500
277091,Vietnam,2018,VNM,704.0,Asia Pacific,Asia Pacific,0.0,0.0,0.0,0.0,wind_twh_net,0.482130
277092,Vietnam,2019,VNM,704.0,Asia Pacific,Asia Pacific,0.0,0.0,0.0,0.0,wind_twh_net,0.714780
277093,Vietnam,2020,VNM,704.0,Asia Pacific,Asia Pacific,0.0,0.0,0.0,0.0,wind_twh_net,1.063052
277094,Vietnam,2021,VNM,704.0,Asia Pacific,Asia Pacific,0.0,0.0,0.0,0.0,wind_twh_net,2.367697

In [8]:
a[(a.Country == "China") & (a.Var == "co2_combust_mtco2")]

,Country,Year,ISO3166_alpha3,ISO3166_numeric,Region,SubRegion,OPEC,EU,OECD,CIS,Var,Value
27737,China,1965,CHN,156.0,Asia Pacific,Asia Pacific,0.0,0.0,0.0,0.0,co2_combust_mtco2,488.525419
27738,China,1966,CHN,156.0,Asia Pacific,Asia Pacific,0.0,0.0,0.0,0.0,co2_combust_mtco2,530.349044
27739,China,1967,CHN,156.0,Asia Pacific,Asia Pacific,0.0,0.0,0.0,0.0,co2_combust_mtco2,475.920674
27740,China,1968,CHN,156.0,Asia Pacific,Asia Pacific,0.0,0.0,0.0,0.0,co2_combust_mtco2,476.682790
27741,China,1969,CHN,156.0,Asia Pacific,Asia Pacific,0.0,0.0,0.0,0.0,co2_combust_mtco2,582.473700
27742,China,1970,CHN,156.0,Asia Pacific,Asia Pacific,0.0,0.0,0.0,0.0,co2_combust_mtco2,748.507130
27743,China,1971,CHN,156.0,Asia Pacific,Asia Pacific,0.0,0.0,0.0,0.0,co2_combust_mtco2,881.701156
27744,China,1972,CHN,156.0,Asia Pacific,Asia Pacific,0.0,0.0,0.0,0.0,co2_combust_mtco2,945.376724
27745,China,1973,CHN,156.0,Asia Pacific,Asia Pacific,0.0,0.0,0.0,0.0,co2_combust_mtco2,987.002301
27746,China,1974,CHN,156.0,Asia Pacific,Asia Pacific,0.0,0.0,0.0,0.0,co2_combust_mtco2,1006.768535
27747,China,1975,CHN,156.0,Asia Pacific,Asia Pacific,0.0,0.0,0.0,0.0,co2_combust_mtco2,1131.272789
27748,China,1976,CHN,156.0,Asia Pacific,Asia Pacific,0.0,0.0,0.0,0.0,co2_combust_mtco2,1183.141392
27749,China,1977,CHN,156.0,Asia Pacific,Asia Pacific,0.0,0.0,0.0,0.0,co2_combust_mtco2,1293.548111
27750,China,1978,CHN,156.0,Asia Pacific,Asia Pacific,0.0,0.0,0.0,0.0,co2_combust_mtco2,1418.532587
27751,China,1979,CHN,156.0,Asia Pacific,Asia Pacific,0.0,0.0,0.0,0.0,co2_combust_mtco2,1458.454221
27752,China,1980,CHN,156.0,Asia Pacific,Asia Pacific,0.0,0.0,0.0,0.0,co2_combust_mtco2,1460.868760
27753,China,1981,CHN,156.0,Asia Pacific,Asia Pacific,0.0,0.0,0.0,0.0,co2_combust_mtco2,1438.274310
27754,China,1982,CHN,156.0,Asia Pacific,Asia Pacific,0.0,0.0,0.0,0.0,co2_combust_mtco2,1502.026966
27755,China,1983,CHN,156.0,Asia Pacific,Asia Pacific,0.0,0.0,0.0,0.0,co2_combust_mtco2,1596.663040
27756,China,1984,CHN,156.0,Asia Pacific,Asia Pacific,0.0,0.0,0.0,0.0,co2_combust_mtco2,1722.027451
27757,China,1985,CHN,156.0,Asia Pacific,Asia Pacific,0.0,0.0,0.0,0.0,co2_combust_mtco2,1821.737468
27758,China,1986,CHN,156.0,Asia Pacific,Asia Pacific,0.0,0.0,0.0,0.0,co2_combust_mtco2,1903.607082
27759,China,1987,CHN,156.0,Asia Pacific,Asia Pacific,0.0,0.0,0.0,0.0,co2_combust_mtco2,2048.107959
27760,China,1988,CHN,156.0,Asia Pacific,Asia Pacific,0.0,0.0,0.0,0.0,co2_combust_mtco2,2196.815705
27761,China,1989,CHN,156.0,Asia Pacific,Asia Pacific,0.0,0.0,0.0,0.0,co2_combust_mtco2,2295.043997
27762,China,1990,CHN,156.0,Asia Pacific,Asia Pacific,0.0,0.0,0.0,0.0,co2_combust_mtco2,2308.792718
27763,China,1991,CHN,156.0,Asia Pacific,Asia Pacific,0.0,0.0,0.0,0.0,co2_combust_mtco2,2439.954399
27764,China,1992,CHN,156.0,Asia Pacific,Asia Pacific,0.0,0.0,0.0,0.0,co2_combust_mtco2,2562.756165
27765,China,1993,CHN,156.0,Asia Pacific,Asia Pacific,0.0,0.0,0.0,0.0,co2_combust_mtco2,2769.614393
27766,China,1994,CHN,156.0,Asia Pacific,Asia Pacific,0.0,0.0,0.0,0.0,co2_combust_mtco2,2921.357545
27767,China,1995,CHN,156.0,Asia Pacific,Asia Pacific,0.0,0.0,0.0,0.0,co2_combust_mtco2,3009.163395
27768,China,1996,CHN,156.0,Asia Pacific,Asia Pacific,0.0,0.0,0.0,0.0,co2_combust_mtco2,3156.655144
27769,China,1997,CHN,156.0,Asia Pacific,Asia Pacific,0.0,0.0,0.0,0.0,co2_combust_mtco2,3142.331400
27770,China,1998,CHN,156.0,Asia Pacific,Asia Pacific,0.0,0.0,0.0,0.0,co2_combust_mtco2,3139.807993
27771,China,1999,CHN,156.0,Asia Pacific,Asia Pacific,0.0,0.0,0.0,0.0,co2_combust_mtco2,3268.473902
27772,China,2000,CHN,156.0,Asia Pacific,Asia Pacific,0.0,0.0,0.0,0.0,co2_combust_mtco2,3327.983977
27773,China,2001,CHN,156.0,Asia Pacific,Asia Pacific,0.0,0.0,0.0,0.0,co2_combust_mtco2,3489.727218
27774,China,2002,CHN,156.0,Asia Pacific,Asia Pacific,0.0,0.0,0.0,0.0,co2_combust_mtco2,3809.263974
27775,China,2003,CHN,156.0,Asia Pacific,Asia Pacific,0.0,0.0,0.0,0.0,co2_combust_mtco2,4494.135943
27776,China,2004,CHN,156.0,Asia Pacific,Asia Pacific,0.0,0.0,0.0,0.0,co2_combust_mtco2,5317.167767
27777,China,2005,CHN,156.0,Asia Pacific,Asia Pacific,0.0,0.0,0.0,0.0,co2_combust_mtco2,6079.259496
27778,China,2006,CHN,156.0,Asia Pacific,Asia Pacific,0.0,0.0,0.0,0.0,co2_combust_mtco2,6659.973623
27779,China,2007,CHN,156.0,Asia Pacific,Asia Pacific,0.0,0.0,0.0,0.0,co2_combust_mtco2,7217.139095
27780,China,2008,CHN,156.0,Asia Pacific,Asia Pacific,0.0,0.0,0.0,0.0,co2_combust_mtco2,7356.559884
27781,China,2009,CHN,156.0,Asia Pacific,Asia Pacific,0.0,0.0,0.0,0.0,co2_combust_mtco2,7685.020094
27782,China,2010,CHN,156.0,Asia Pacific,Asia Pacific,0.0,0.0,0.0,0.0,co2_combust_mtco2,8121.687733
27783,China,2011,CHN,156.0,Asia Pacific,Asia Pacific,0.0,0.0,0.0,0.0,co2_combust_mtco2,8793.491058
27784,China,2012,CHN,156.0,Asia Pacific,Asia Pacific,0.0,0.0,0.0,0.0,co2_combust_mtco2,8978.738690
27785,China,2013,CHN,156.0,Asia Pacific,Asia Pacific,0.0,0.0,0.0,0.0,co2_combust_mtco2,9219.099311
27786,China,2014,CHN,156.0,Asia Pacific,Asia Pacific,0.0,0.0,0.0,0.0,co2_combust_mtco2,9256.680105
27787,China,2015,CHN,156.0,Asia Pacific,Asia Pacific,0.0,0.0,0.0,0.0,co2_combust_mtco2,9226.202369
27788,China,2016,CHN,156.0,Asia Pacific,Asia Pacific,0.0,0.0,0.0,0.0,co2_combust_mtco2,9234.416055
27789,China,2017,CHN,156.0,Asia Pacific,Asia Pacific,0.0,0.0,0.0,0.0,co2_combust_mtco2,9444.870664
27790,China,2018,CHN,156.0,Asia Pacific,Asia Pacific,0.0,0.0,0.0,0.0,co2_combust_mtco2,9675.985422
27791,China,2019,CHN,156.0,Asia Pacific,Asia Pacific,0.0,0.0,0.0,0.0,co2_combust_mtco2,9868.525808
27792,China,2020,CHN,156.0,Asia Pacific,Asia Pacific,0.0,0.0,0.0,0.0,co2_combust_mtco2,9974.271347
27793,China,2021,CHN,156.0,Asia Pacific,Asia Pacific,0.0,0.0,0.0,0.0,co2_combust_mtco2,10523.026040

In [15]:
a[(a.Country.str.contains("US")) & (a.Var == "co2_combust_mtco2")]

,Country,Year,ISO3166_alpha3,ISO3166_numeric,Region,SubRegion,OPEC,EU,OECD,CIS,Var,Value
32367,US,1965,USA,840.0,North America,North America,0.0,0.0,1.0,0.0,co2_combust_mtco2,3451.891855
32368,US,1966,USA,840.0,North America,North America,0.0,0.0,1.0,0.0,co2_combust_mtco2,3639.795004
32369,US,1967,USA,840.0,North America,North America,0.0,0.0,1.0,0.0,co2_combust_mtco2,3738.161319
32370,US,1968,USA,840.0,North America,North America,0.0,0.0,1.0,0.0,co2_combust_mtco2,3947.343459
32371,US,1969,USA,840.0,North America,North America,0.0,0.0,1.0,0.0,co2_combust_mtco2,4117.396247
...,...,...,...,...,...,...,...,...,...,...,...,...
32439,USSR,1980,SUN,810.0,CIS,CIS,0.0,0.0,0.0,0.0,co2_combust_mtco2,3280.425137
32440,USSR,1981,SUN,810.0,CIS,CIS,0.0,0.0,0.0,0.0,co2_combust_mtco2,3312.974548
32441,USSR,1982,SUN,810.0,CIS,CIS,0.0,0.0,0.0,0.0,co2_combust_mtco2,3376.746272
32442,USSR,1983,SUN,810.0,CIS,CIS,0.0,0.0,0.0,0.0,co2_combust_mtco2,3414.750874
32443,USSR,1984,SUN,810.0,CIS,CIS,0.0,0.0,0.0,0.0,co2_combust_mtco2,3474.639403

In [19]:
energy = pd.read_csv(r"D:\WorkSpace\Code\Python\EnergyTrans\dataset\energy\Energy_Transition.csv")
energy["Technology"].value_counts()

Fossil fuels                         494
Solar energy                         478
Hydropower (excl. Pumped Storage)    374
Wind energy                          349
Bioenergy                            324
Other non-renewable energy           150
Pumped storage                       124
Nuclear                              105
Geothermal energy                    104
Marine energy                         73
Name: Technology, dtype: int64

In [20]:
energy

,ObjectId,Country/Region,ISO2,ISO3,Indicator,Technology,Energy_Type,Unit,Source,CTS_Name,...,F2011,F2012,F2013,F2014,F2015,F2016,F2017,F2018,F2019,F2020
0,1,Advanced Economies,NaN,AETMP,Electricity Generation,Bioenergy,Total Renewable,Gigawatt-hours (GWh),International Renewable Energy Agency (IRENA) ...,NaN,...,208500.849,224904.936,239773.166,252341.180,264181.433,274068.035,283583.581,287858.956,293917.663,296348.479
1,2,Advanced Economies,NaN,AETMP,Electricity Installed Capacity,Bioenergy,Total Renewable,Megawatt (MW),International Renewable Energy Agency (IRENA) ...,NaN,...,41776.427,43690.635,46115.653,48575.397,50782.092,53205.387,55580.629,58470.495,59285.425,59698.238
2,3,Advanced Economies,NaN,AETMP,Electricity Generation,Fossil fuels,Total Non-Renewable,Gigawatt-hours (GWh),International Renewable Energy Agency (IRENA) ...,NaN,...,6184941.257,6192108.018,6103628.918,5966341.171,5895296.029,5862708.121,5724991.355,5780558.599,5552191.520,5239862.113
3,4,Advanced Economies,NaN,AETMP,Electricity Installed Capacity,Fossil fuels,Total Non-Renewable,Megawatt (MW),International Renewable Energy Agency (IRENA) ...,NaN,...,1548870.635,1549434.445,1536047.763,1543835.825,1520799.171,1507492.990,1504881.823,1519986.073,1496654.330,1487980.682
4,5,Advanced Economies,NaN,AETMP,Electricity Generation,Geothermal energy,Total Renewable,Gigawatt-hours (GWh),International Renewable Energy Agency (IRENA) ...,NaN,...,37192.016,38076.418,38936.706,40294.245,40949.973,40915.479,41096.979,41910.671,41891.049,42477.806
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2570,2571,Zimbabwe,ZW,ZWE,Electricity Installed Capacity,Fossil fuels,Total Non-Renewable,Megawatt (MW),International Renewable Energy Agency (IRENA) ...,NaN,...,1200.000,1200.000,1200.000,1200.000,1200.000,1200.000,1200.000,1200.000,1200.000,1200.000
2571,2572,Zimbabwe,ZW,ZWE,Electricity Generation,Hydropower (excl. Pumped Storage),Total Renewable,Gigawatt-hours (GWh),International Renewable Energy Agency (IRENA) ...,NaN,...,5209.008,5396.008,5001.166,5468.223,5049.046,2693.923,4086.518,5636.798,5510.818,3881.996
2572,2573,Zimbabwe,ZW,ZWE,Electricity Installed Capacity,Hydropower (excl. Pumped Storage),Total Renewable,Megawatt (MW),International Renewable Energy Agency (IRENA) ...,NaN,...,753.395,753.395,758.345,758.370,773.405,777.155,781.055,1081.055,1081.055,1081.055
2573,2574,Zimbabwe,ZW,ZWE,Electricity Generation,Solar energy,Total Renewable,Gigawatt-hours (GWh),International Renewable Energy Agency (IRENA) ...,NaN,...,0.309,1.581,3.442,4.720,7.557,8.925,10.923,18.952,25.640,33.518
2574,2575,Zimbabwe,ZW,ZWE,Electricity Installed Capacity,Solar energy,Total Renewable,Megawatt (MW),International Renewable Energy Agency (IRENA) ...,NaN,...,0.177,0.905,1.970,2.702,4.326,5.109,6.252,10.607,16.483,18.283